@import "./variables";
// reset
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 13px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #999;
}

@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }
    .bg-#{$colorKey} {
        background-color: $color;
    }
}
// text aligin
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}

@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}
// text overflow
.text-ellipsis {
    display: inline-block; // 行内块元素，不独占一行的块级元素
    overflow: hidden; // 超出的部分隐藏
    text-overflow: ellipsis; // 当对象内文本溢出时显示省略标记（...）
    white-space: nowrap; // 强制显示一行
}
// width, height
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
// flex
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-colum {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
    .jc-#{$key} {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
        justify-content: $value;
    }
}

@each $key, $value in $flex-ai {
    .jc-#{$key} {
        -webkit-box-align: $value;
        -ms-flex-align: $value;
        align-items: $value;
    }
}
.flex-1 {
    flex: 1;
}
.flex-grow-1 {
    flex-grow: 1;
}

@each $typeKey, $type in $spacing-types {
    // .m-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
    }
    // .mx-1, .my-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
    }
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }
    // .mt-1
    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey, $size in $spacing-sizes {
            // mt-1{margin-top: 0.25rem;}
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
}
// button
.btn {
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($map: $font-sizes, $key: "sm") * $base-font-size;
    padding: 0.2rem, 0.6rem;
}
// nav
.nav {
    display: flex;
    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        &.active {
            color: map-get($map: $colors, $key: "primary");
            border-bottom-color: map-get($map: $colors, $key: "primary");
        }
    }
    &.nav-inverse {
        .nav-item {
            color: map-get($map: $colors, $key: "white");
            &.active {
                border-bottom-color: map-get($map: $colors, $key: "white");
            }
        }
    }
}

// sprite
.sprite {
    background: url(../images/index.png) no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;
    &.sprite-news {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: -224px -67px;
    }
    &.sprite-storyStation {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: -318px -68px;
    }
    &.sprite-arrow {
        width: 0.7692rem;
        height: 0.7692rem;
        background-position: -141px -232px;
    }
}
